body{
    margin: 0px;
    background: #ccc;
}

#amarelo{
    background: #ffc600;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

#logo{
    margin: .5%;
}

#botao_menu{
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;

    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background: #dcab00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 2% -95%;
    width: 94.8%;
}

#menu_carrinho{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    color: black;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%;
    margin: 1.5% 1%;
    border-radius: 5px;
    background: white;
}

.imagens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 40%;
}

.imagens_coluna{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 5%;
    justify-content: space-between;
}

.imagens_coluna button{
    width: 70%;
    margin: 1%;
    background: transparent;
    border: transparent;
}

.imagens_micro{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.imagem_selecionada{
    display: flex;
    width: 100%;
    height: 95%;
    margin: 0 10% 0 10%;
    align-content: center;
    justify-content: center;
}

.imagem_selecionada button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background: transparent;
    border: transparent;
}

#img_selected{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
}

.info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 60%;
    height: 180px;
    margin: 10px 5px;
}

.nome_prod p{
    font-size: 1.5rem;
    font-family: -webkit-pictograph;
    padding: 0;
    margin: 0;
}

.preco_promo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.preco_button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    color: #4CAF50; /* Green */
    font-size: 1.5rem;
    font-family: system-ui;
}

.parc{
    font-size: 2rem;
    font-weight: bolder;
}

.preco_vista{
    font-size: 1rem;
    font-family: system-ui;
}

.vista{
    color: #4CAF50; /* Green */
    font-weight: bolder;
}

.b_add{
    margin: 0 3%;
}

.b_add input{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2% 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.b_add button span{
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 5%;
}

.card_carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preco_carrinho{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    font-weight: bolder;
    font-size: smaller;
}

.imagem_carrinho{
    width: 10%;
}

.imagem_carrinho img{
    width: 100%;
}

.info_carrinho{
    padding: 0 1%;
    color: black;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome_prod_carrinho{
    color: white;
    display: flex;
    justify-content: flex-start;
}

.nome_prod_carrinho p{
    margin: 0;
    margin-bottom: revert
}

.remover_carrinho input{
    background: transparent;
    border: transparent;
    font-size: larger;
    font-weight: 900;
}

#total{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    color: black;
    font-size: small;
}

#subtotal{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
}